@import "tailwindcss";

@theme {
  --color-brand-dark: #CD2C58;
  --color-brand-medium: #E06B80;
  --color-brand-light: #FFC69D;
  --color-brand-pale: #FFE6D4;
}

body {
  margin: 0;
  min-height: 100vh;
}

